.App {
  text-align: center;
}

/* .tab-list {
  padding-left: 0;
  position: relative;
  display: inline-flexbox;
  width: 100px;
} */

.tab-list {
  height: 100%; /* Full-height: remove this if you want "auto" height */
  width: 100px; /* Set the width of the sidebar */
  position: fixed; /* Fixed Sidebar (stay in place on scroll) */
  z-index: 1; /* Stay on top */
  top: 10px; /* Stay at the top */
  left: 0;
  background-color: rgb(177, 177, 177); /* Black */
  overflow-x: hidden; /* Disable horizontal scroll */
  padding: 20px 0px;
}

.tab-list-item {
  display: inline-block;
  list-style: none;
  margin-bottom: -1px;
  padding: 0.5rem 0.75rem;
}

.tab-list-active {
  background-color: white;
  border: solid #ccc;
  border-width: 1px 1px 1px 1px;
}

.chart {
  margin-left: 150px;
}